.search-bar {
    margin: 0 2vw 0 2vw;
    border: none;
    background-color: inherit;
    align-items: center;
    border-bottom: #CECECE solid 2px;
    color: #CECECE;
    text-decoration: none;
    outline: none;
    transition: 0.5s;
    text-align: center;
}

.search-bar::placeholder {
    color: #CECECE;
  }

.search-bar:focus, .search:hover, .search-bar:active {
    border: none;
    background-color: inherit;
    border-bottom: #CECECE solid 2px;
    padding: 0 3vw 0 3vw;

}


