.item-image-column {
    max-width: 90%;
    filter: brightness(50%);
    margin: 0 0.1vw 0 0;
    transition: 0.25s linear;
    
}

.item-image-column:hover {
    filter: brightness(100%);
    overflow: visible !important;
}

.item-image-column:hover {
    filter: brightness(100%) !important;
    transform: scale(1.25) !important;
    overflow: visible !important;
}

.item-matrix-row {
    display: flex;
    flex-direction: row;
}
