.galaxy-card {
    display:flex;
    flex-direction: column;
    background-color: #CECECE;
    align-items: center;
    padding: 1vh 1vw 1vh 1vw;
    margin: 1vh 1vw 1vh 1vw;
    border: #2E8BAF solid 3px;
    flex-basis: 12vw;
    border-radius: 5%;
    box-shadow:
    inset 0 0 0 2px hsl(0, 0%, 80%),
    0 0 0 3px hsl(0, 0%, 90%);
        
}

.galaxy-card:hover {
    transform: scale(1.25);
    transition-duration: 0.5s;
}

.galaxy-name {
    font-weight: bold;
    color: #2E8BAF;
}

.galaxy-image {
    width: 50%;
    height: auto;
    border-bottom: #E5E5E5 solid 0.1vw;
}

.galaxy-description {
    color: #2E8BAF;
    word-break: break-word;
}

@media only screen and (max-width: 600px) {
    .galaxy-card{
        flex-basis: 50vw;
    }
}